 /*
        PANEL COLORS:   */
.color1     {color:#0065FC}
.color2     {color:#DEEBFF}
.color3     {color:#D9D9D9}
.color4     {color:#F2F2F2}
.colorBG1   {background:#0065FC}
.colorBG2   {background:#DEEBFF}
.colorBG3   {background:#D9D9D9}


/*
        RESET:        */ 
html,
body,
header, main, footer,
nav,
address,
section, div, article,
ul, ol, li,
h1, h2, h3, h4, h5, h6,
p,
img,
span,
a,
i,
pre,
code {
    font-weight:unset;
    line-height:unset;
    padding:0;
    margin:0;
    border:0
}

ol, ul {list-style:none}


/*
    DEBUG        */
/*
body {padding:0}
*/


/*
    BUGS    */ 
/* Bouton Animaux */
#search>section:last-child>ul>li:last-child>a>span:last-child{
    min-width:160px;
}

/*
    BODY        */
body {padding:0 50px}

#container {
    display:flex;
    flex-flow:column;
    max-width:1400px;
    margin:auto
}


/*
    HEARDER     */
#header-top {
    display:flex;
    margin:0 0 59px 0;
    flex-direction:row;
    justify-content:space-between
}

#logo {
    padding:44px 0 0 0;
    width:61.09px;
    height:20px
}

#menu ul{
    height:50px;
    display:flex;
    flex-direction:row
}

#menu li {
    padding:48px 0 0 0;
    margin:0 0 0 67px
}

#menu a {
    font-family:'Raleway';
    font-style:normal;
    font-weight:500;
    font-size:16px;
    line-height:19px;
    text-align:center;
    color:#000000;
    text-decoration:none
}

#menu a:hover {
    color:#0065FC;
    text-decoration:underline
}

#menu>ul>li:hover {border-top:2px solid #0065FC}

h2 {
    font-family:'Raleway';
    font-style:normal;
    font-weight:700;
    font-size:22px;
    line-height:26px;
    color:#000000;
    margin:0 0 8px 0;
    letter-spacing:0em;
    text-align:left
}

h3 {
    font-family:'Raleway';
    font-style:normal;
    font-weight:400;
    font-size:16px;
    line-height:19px;
    color:#000000;
    margin:0 0 20px 0
}


/*
    SEARCH      */
#search>section:first-child {
    height:49px;
    display:flex;
    flex-flow:row wrap;
    justify-content:left;
    align-items:center;
    margin:0 0 32px 0
}

#search>section:first-child>div {
    height:49px;
    display:flex;
    flex-flow:row nowrap;
    justify-content:center;
    align-items:center;
    margin:0 0 32px 0
}

#search>section:first-child>div div{
    background:#FFFFFF;
    display:flex;
    flex-flow:row nowrap;
    justify-content:center;
    align-items:center
}

#search>section:first-child>div>div span {
    height:49px;
    width:50px;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#F2F2F2;
    border:1px solid #F2F2F2;
    border-radius:15px 0px 0px 15px
}

#search>section:first-child input[type="text"] {
    border:1px solid #F2F2F2;
    height:49px;
    padding:0 0 0 17px;
    font-family:Raleway;
    font-size:18px;
    font-weight:700;
    line-height:21px;
    letter-spacing:0em;
    text-align:left
}

#search>section:first-child button {
    width:132px;
    height:49px;
    display:flex;
    flex-direction:row;
    align-items:center;
    padding:15px 16px;
    gap:10px;
    font-family:Raleway;
    font-size:18px;
    font-weight:700;
    line-height:21px;
    letter-spacing:0em;
    text-align:center;
    color:#FFFFFF;
    border:1px solid #0065FC;
    border-radius:0px 15px 15px 0px
}

#search>section:first-child button i {display:none}


/*
FILTRES     */
#search>section:last-child {
    display:flex;
    flex-flow:row nowrap;
    align-items:center;
    justify-content:left;
    height:50px;
    margin:0 0 38px 0
}

#search>section:last-child li  {margin:0 43px 0 0}

#search>section:last-child>span {
    margin:0 32px 0 0;
    height:21px;
    font-family:'Raleway';
    font-style:normal;
    font-weight:700;
    font-size:18px;
    line-height:21px;
    text-align:center;
    color:#000000
}

#search>section:last-child ul{
    width:100%;
    display:flex;
    flex-flow:row nowrap;
    align-items:center;
    justify-content:left;
    height:50px
}

.btnFilter {
    display:flex;
    flex-flow:row wrap;
    align-items:center;
    border:2px solid #D9D9D9;
    box-sizing:border-box;
    border-radius:25px;
    height:48px
}

.btnFilter>a {
    display: flex;
    flex-flow:row nowrap;
    padding:4px 20px
}

.btnFilter:hover {background:#DEEBFF}

.btnFilter>a:hover {
    margin: 0 40px 0 0 /* Je n'ai pas trouvé l'info dans figma */
}

/* Contener icon */
.btnFilter>a>span:first-child {
    display:flex;
    flex-flow:row;
    align-items:center
}

/* Icone */
.btnFilter i {width: 22px}

/* Text */
.btnFilter>a>span:last-child {
    display:flex;
    flex-flow:column nowrap;
    align-items:flex-start;
    padding:10px 0px 10px 10px;
    font-family:'Raleway';
    font-style:normal;
    font-weight:700;
    font-size:17px;
    line-height:20px;
    color:#000000
}


/*
    INFORMATIONS */
header>h4 {
    display:flex;
    flex-flow:row;
    justify-content:left;
    align-items:center;
    width:447px;
    height:24px
}

header>h4>span:first-child {
    display:flex;
    justify-content:center;
    align-items:center;
    width:24px;
    height:24px;
    box-sizing:border-box;
    border-radius:100%;
    border:1px solid #D9D9D9
}

header>h4>span:last-child  {
    margin:0 0 0 11px;
    font-family:'Raleway';
    font-style:normal;
    font-weight:400;
    font-size:16px;
    line-height:19px
}


/*
    MAIN    */
main {
    margin:39px 0 0 0;
    border-radius:0
}

main>section {
    display:flex;
    flex-flow:row wrap
}


#populaires, 
#hebergements {
    background:#F2F2F2;
    border-radius:20px
}

#hebergements h2 {margin:0 0 23px 0}

#populaires i,
#populaires h2 {margin:0 0 26px 0}

/*
    COLONNE 1 = HEBERGEMENTS */
#hebergements {
    flex:3;
    margin:0 40px 0 0;
    padding:42px 10px 46px 40px
}


#hebergements>a {
    text-decoration:none;
    font-family:'Raleway';
    font-style:normal;
    font-weight:700;
    font-size:18px;
    line-height:21px;
    color:#000000
}

#hebergements>section {
    display:flex;
    flex-flow:row wrap;
    /* justify-content:space-between; */
    align-items:center
}

#hebergements>section>a {
}

/*  CARD = HERBERGEMENT */
.card {
    flex:1 0 22%;
    margin:0 31px 30px 0;
    text-decoration:none;
    display:block;
    min-width:246px;
    height:199px;
    border-radius:20px;
    background:white;
    box-shadow:0px 3px 15px rgba(0, 0, 0, 0.1)
}

.card img {
    box-sizing:border-box;
    object-fit:cover;
    height:122px;
    width:100%;
    border:5px solid #FFFFFF;
    border-radius:20px 20px 0px 0px
}
.card h4 {
    height:15px;
    word-wrap: normal;
    word-break: normal;
    padding:0 26px 9px 16px
}

.card h4,
.card2 h4 {
    word-break:normal;
    font-family:'Raleway';
    font-style:normal;
    font-weight:700;
    font-size:16px;
    line-height:19px;
    color:#000000;
    letter-spacing:0em;
    text-align:left
}

.card article, 
.card p {
    width:100%;
    height:15px;
    margin:0 26px 6px 16px;
    font-family:'Raleway';
    font-style:normal;
    font-weight:400;
    font-size:14px;
    line-height:16px;
    color:#000000
}

.card span {
    border-radius:0px;
    margin:0 26px 9px 16px
}

.card i,
.card2 i  {
    height:12px;
    width:10px
}


/* 
    MAIN COLONNE 2 */
#populaires {
    display:flex;
    flex-flow: column;
    align-items: center;
    flex:1;
    max-width:420px;
    padding:40px 42px 1px 42px
}

#populaires>div:first-child {
    display:flex;
    flex-flow:row;
    width:100%;
    justify-content:space-between;
    align-items:center
}

#populaires>div:first-child i {
    width:18px;
    height:16px
}


/*
    CARD2 = POPULAIRES    */
.card2 {
    margin:0 0 33px 0;
    border-radius:20px;
    text-decoration:none;
    display:flex;
    background:white;
    width: 343px;
    height: 144px;
    box-shadow:0px 3px 15px rgba(0, 0, 0, 0.1)
}

.card2 img {
    box-sizing:border-box;
    object-fit:cover;
    height:144px;
    width:37%;
    border:5px solid #FFFFFF;
    border-radius: 20px 0px 0px 20px;
    box-shadow:0px 3px 15px rgba(0, 0, 0, 0.1)
}

.card2>div {display:flex}

.card2 h4 {margin:0 0 7px 0}

.card2 article {
    padding:16px 22px 0 15px;
    width:63%;
    display:flex;
    flex-flow:column;
    justify-content:space-between
}

.card2 p {
    font-family:'Raleway';
    font-style:normal;
    font-weight:400;
    font-size:14px;
    line-height:16px;
    color:#000000
}

.card2 span {
    display:block;
    height:12px;
    border-radius:0px;
    margin:0 26px 12px 0
}


/*
    BLOC ACTIVITY   */
#activites h2 {
    margin:60px 0 0 0;
}

#activites>section {
    display:flex;
    flex-flow:row wrap;
    align-items:center;
    justify-content:space-between
}

/*
    CARD 3 = ACTIVITY   */
.card3 img {
    object-fit:cover;
    box-sizing:border-box;
    height:445px;
    max-width:302px;
    border-radius:20px 20px 0 0
}

.card3 {
    margin:19px 43px 61px 0;
    text-decoration:none;
    background:#FFFFFF;
    border:1px solid #D9D9D9;
    border-radius:20px;
    box-shadow:0px 3px 15px rgba(0, 0, 0, .1);
}

.card3 p {
    margin:20px 36px 21px 19px;
    font-family:'Raleway';
    font-style:normal;
    font-weight:700;
    font-size:16px;
    line-height:19px;
    color: #000000
}


/*
    FOOTER  */
footer {
    display:flex;
    flex-flow: row wrap;
    background:#F2F2F2;
    padding:45px 70px 58px 70px;
}

footer a {
    display: inline-block;
    text-decoration:none;
    margin:0 0 12px 0;
    font-family:'Raleway';
    font-style:normal;
    font-weight:400;
    font-size:16px;
    line-height:19px;
    color: #000000
}

footer>ul>li:first-child a {
    margin:0 0 20px 0;
    font-weight:700;
    font-size:18px;
    line-height:21px
}

footer>ul {margin:0 250px 0 0}

/*
TABLETTE    */
@media screen and (max-width: 992px) {

    body {
        padding:0 20px;
        background:green;
    }

    /* Marge filter */
    #search>section:last-child li {margin:0 22px 0 0}

    /* Herbergements & Populaires */
    main>section {
        flex-flow:column nowrap
    }

    #hebergements {
        margin:0 0 53px 0
    }

    #hebergements>section {
        justify-content:space-between
    }

    .card {
        margin:0 31px 30px 0;
        min-width:216px
    }

    #populaires{
        max-width:100%;
    }

    #populaires>section {
        display:flex;
        flex-flow:row wrap;
        justify-content:center;
    }

    #populaires {
        padding:34px 40px 0 40px
    }

    .card2 {
        margin:0 23px 48px 0;
        width:252px;
        box-shadow:0px 3px 15px rgba(0, 0, 0, 0.1)
    }

    .card2 img {width:96px    }

    .card2 h4 {
        margin:0 0 7px 0;
        font-size: 14px;
        line-height: 16px
    }

    .card2 article {
        padding:12px 5px 0 10px;
        width:100%
    }

    .card2 p {
        font-size:13px;
        line-height:15px
    }

    .card2 span {margin:0 26px 9px 0}

    /*
        BLOC ACTIVITY   */
    #activites h2 {margin:70px 0 0 0}

    .card3 h4 {margin:20px 36px 21px 19px}

    #activites>section {
        display:flex;
        flex-flow:row wrap;
        align-items:flex-start;
        justify-content:space-around
    }

    .card3 {
        max-width:182px;
        margin:19px 43px 61px 0
    }

    .card3 img {
        object-fit:cover;
        box-sizing:border-box;
        height:267px;
        border-radius:20px 20px 0 0;
        max-width:182px
    }


}
/*
SMARTPHONE    */
@media screen and (max-width: 768px) {
    body {
        background:RED;
    }
    main>section {
        display:flex;
        flex-flow:column-reverse nowrap
    }
    #search>section:first-child button {
        width:50px;
    }
    #search>section:first-child button i {display:inline}
    #search>section:first-child button span {display:none}


}